{% extends 'base.html' %}
{% block title %}  {% endblock %}

{% block content %}
    <h2 style="text-align: center; color: lightgreen; margin: 0;">Fecha actual:</h2>
    <p style="text-align: center; margin: 5px 5px;">{{fecha_actual}}</p>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/d1-UX6aR_TM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
{% endblock %}