<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de contacto</title>
</head>


<style>
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h1 {
        text-align: center;
        text-shadow: 1px black;
    }

</style>

<body>
    <h1>Contacto con DJANGO y API FORMS</h1>

    {% if form.errors %}
        <p style="color: red;">Error: intentalo de nuevo</p>
    {% endif %}

    <form action="" method="post">{% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="Enviar">
    </form>

</body>
</html>