<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de búsqueda</title>
</head>
<body>
    <p>Objeto buscado: {{query}}</p>

    {% if articulos %}
        <p>Cantidad de articulos encontrados: {{articulos|length}} articulos</p>

        <ul>
            {% for articulo in articulos %}
                <li>{{articulo.nombre}} | {{articulo.seccion}} | {{articulo.precio}}$</li>
            {% endfor %}
        </ul>

    {% else %}
        <p>Ese articulo no existe</p>
    {% endif %}

</body>
</html>